.container {
  min-height: 100vh;
  max-width: 1300px;
  margin-top: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.container .formWrapper {
  width: 65%;
  height: fit-content;
  margin: 0 auto;
  margin-top: 50px;
}

.active {
  font-weight: 700 !important;
}

.container .sideBar {
  width: 35%;
  background-color: #f8fafb;
  padding: 0 55px;
}

.container .sideBar .logo {
  margin-top: 40px;
}

.container .sideBar .logo p {
  font-size: 52px;
  font-weight: 600;
  text-align: center;
  color: #fc355c;
}

.container .sideBar .info {
  margin: 40px auto;
}

.container .sideBar .info .title {
  color: #717679;
  font-size: 22px;
  font-weight: 600;
}

.container .sideBar .info p {
  font-size: 18px;
  color: #909eab;
  font-weight: 400;
}

.container .sideBar .summary {
  margin-top: 40px;
  width: 100%;
}

.container .sideBar .summary fieldset {
  margin-bottom: 20px;
}

.container .sideBar .summary p {
  width: 100% !important;
  color: #788995;
  font-size: 14px;
  line-height: 24px;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 15px auto;
}

.container .sideBar .summary .line {
  margin: 10px auto;
  width: 100%;
  border-top: 2px solid #e4eaee;
}

.container .sideBar .summary .total {
  color: #1b2125;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
}

.container .sideBar .summary .total span {
  color: #1b2125;
  font-weight: 600;
}

.accordionText {
  display: flex;
  flex-direction: column;
}

.accordionText .faqOne {
  color: #7d8184;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
  display: flex;
  flex-direction: column;
  margin: 10px auto;
}

.accordionText .faqOne span {
  font-weight: bold;
  width: 100%;
}

@media (max-width: 1366px) {
  .container {
    max-width: 1100px;
  }
  .container .sideBar {
    padding: 5px 40px;
  }
  .container .sideBar .info .title {
    font-size: 20px;
  }
  .container .sideBar .info p {
    font-size: 14px;
  }
  .container .summary p {
    font-size: 10px;
  }
}
